html {
	background-image: url(https://image.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg);
	background-size: cover;
	background-attachment: fixed;
}
table, td {
	border: 5px solid black
}
 {

}
nav li {
	display: inline;

}
form input{
	display: block;
}
.checkbox {
	display: inline;
}
.radio {
	display: inline;
}
button {
	color: white;
	background-color: blue;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border-radius: 50%;
	margin-left: 10px;
}
/*changes button action when clicked*/
button:active {
  background-color: blue;
  box-shadow: 5px black;
  transform: translateY(4px);
}
/* changes hyperlink text colors*/
a {
	color: white;
}
footer {
	position: bottom;
	bottom: 0px;
}
header {
	position: top;
	top: 0px;
}